.container:not(:last-child) {
  margin-bottom: 20px;
}

.input {
  display: block;
  box-sizing: border-box;
  color: #fff;
  background-color: #71027b;
  border-radius: 8px;
  font-size: 18px;
  padding: 15px 10px;
  width: 100%;
}

.input::placeholder {
  color: #fff;
  opacity: 0.6;
  font-family: serif, sans-serif;
}
