html {
  -o-tab-size: 4;
  tab-size: 4;
  word-break: normal;
  box-sizing: border-box;

  -moz-tab-size: 4;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
}

body {
  background-color: #d983fc;
  font-family: serif, sans-serif;
  margin: 0;
}

h1, h2 {
  color: #fade60;
  margin: 0;
}

h1 {
  font-size: 36px;
  margin-bottom: 50px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
  cursor: pointer
}

button,
html [type="button"],
/* Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4 */
  [type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  border-style: none;
  background-color: transparent;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}
